<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.e.pianoforkids">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name="view.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="landscape"
            tools:ignore="GoogleAppIndexingWarning,InnerclassSeparator,LockedOrientationActivity">

        </activity>
        <activity
            android:name="view.activity.MainMenuActivity"
            android:screenOrientation="landscape"
            tools:ignore="GoogleAppIndexingWarning,InnerclassSeparator,LockedOrientationActivity">

        </activity>
        <activity
            android:name="view.activity.LoginActivity"
            android:screenOrientation="landscape"
            tools:ignore="GoogleAppIndexingWarning,InnerclassSeparator,LockedOrientationActivity">

        </activity>
        <activity android:name="view.activity.SettingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="view.activity.PianoActivity"
            android:screenOrientation="landscape"
            tools:ignore="GoogleAppIndexingWarning,LockedOrientationActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>